.footer__copyright {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #545454;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 17px;
  margin: 48px 0 36px 0;
}

@media screen and (min-width: 1280px) {
  .footer__copyright {
    margin: 66px auto 60px;
    font-size: 18px;
    line-height: 22px;
  }
}
