.header__link {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.header__link:hover {
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  .header__link {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
  }
}
