.popup__error {
  display: block;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  line-height: 15px;
  font-weight: normal;
  color: #ff0000;
  opacity: 0;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
}




