.popup__container {
  max-width: 282px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;

}

@media screen and (min-width: 768px) {
  .popup__container {
    max-width: 430px;

  }
}
