/* VENDOR */
@import url(./vendor/normalize.css);

/* FONTS */
@import url(./fonts/fonts.css);

/* BODY */
@import url(./blocks/body/body.css);

/* PAGE */
@import url(./blocks/page/page.css);

/* HEADER */
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__container/header__container.css);
@import url(./blocks/header/__login-container/header__login-container.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__user-email/header__user-email.css);

/* ENTRY PAGE */
@import url(./blocks/entry-page/entry-page.css);
@import url(./blocks/entry-page/__title/entry-page__title.css);
@import url(./blocks/entry-page/__form/entry-page__form.css);
@import url(./blocks/entry-page/__input/entry-page__input.css);
@import url(./blocks/entry-page/__button/entry-page__button.css);
@import url(./blocks/entry-page/__link/entry-page__link.css);

/* MAIN */
@import url(./blocks/main/main.css);

/* PROFILE */
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__card/profile__card.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-overlay/profile__avatar-overlay.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);

/* PHOTO GRID */
@import url(./blocks/photo-grid/photo-grid.css);
@import url(./blocks/photo-grid/__card/photo-grid__card.css);
@import url(./blocks/photo-grid/__image/photo-grid__image.css);
@import url(./blocks/photo-grid/__container/photo-grid__container.css);
@import url(./blocks/photo-grid/__title/photo-grid__title.css);
@import url(./blocks/photo-grid/__like-button/photo-grid__like-button.css);
@import url(./blocks/photo-grid/__like-container/photo-grid__like-container.css);
@import url(./blocks/photo-grid/__like-counter/photo-grid__like-counter.css);
@import url(./blocks/photo-grid/__like-button/_active/photo-grid__like-button_active.css);
@import url(./blocks/photo-grid/__delete-button/photo-grid__delete-button.css);
@import url(./blocks/photo-grid/__delete-button/_hidden/photo-grid__delete-button_hidden.css);

/* FOOTER */
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

/* POPUP */
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__section/popup__section.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__submit-button/popup__submit-button.css);
@import url(./blocks/popup/__submit-button/_confirm-delete/popup__submit-button_confirm-delete.css);
@import url(./blocks/popup/__submit-button/_disabled/popup__submit-button_disabled.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/_image-fullscreen/popup_image-fullscreen.css);
@import url(./blocks/popup/__image-fullscreen-text/popup__image-fullscreen-text.css);
@import url(./blocks/popup/__image-container/popup__image-container.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__error/_visible/popup__error_visible.css);
/* POPUP INFO TOOLTIP */
@import url(./blocks/popup/__icon/popup__icon.css);
@import url(./blocks/popup/__text/popup__text.css);
